<div class="container-fluid justify-content-center d-flex m-4">
    <div class="card col-md-6">
        <div class="row text-center">
            <h1 class="display 4 color-dorado">Bienvenido a ComIA</h1>
        </div>
        <div class="row mt-2">
            <div class="welcome-link">
                <h3>Prueba tu nevera virtual</h3>
                <p>Agrega ingradientes a tu nevera virtual y busca recetas rapidamente con ingredientes que tengas en casa</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="welcome-link">
                <h3>Busca recetas</h3>
                <p>Busca recetas por ingredientes</p>
                <p>Busca recetas por nutrientes</p>
                <p>Busca recetas por dietas</p>
            </div>
        </div>
    </div>
</div>