@import "@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%; /* Esto es importante para que el diseño de grid funcione correctamente */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    background-color: rgba(255, 255, 255);
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header y footer con altura automática, contenido principal ocupando el espacio restante */
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-height: 100vh; /* Asegura que el grid ocupe al menos la altura total de la ventana gráfica */
}

.app-header {
    grid-area: header; /* Designa el área del grid para el header */
}

.main {
    grid-area: main; /* Designa el área del grid para el contenido principal */
}

.app-footer {
    grid-area: footer; /* Designa el área del grid para el footer */
}

.color-dorado {
    color: #C6AA6B;
}

.bg-color-dorado {
    background-color: #C6AA6B;
}
  
.filters label{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
}

.filters h5{
    font-size: 1.5rem;
    font-weight: 500;
}

.filters .card-body {
    background-color: rgba(208, 192, 145, 0.249);
}

.hover-dorado:hover{
    background-color: #C6AA6B;
    color: black;
}

.hover-gris:hover{
    color: white;
    background-color: gray;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../comia-angular-app/src/assets/images/com-bg.webp') no-repeat center center fixed;
    background-size: cover; /* Asegura que el fondo cubra el área completa */
    filter: blur(8px); /* Ajusta el valor del desenfoque según necesites */
    opacity: 0.5; /* Ajusta este valor entre 0 y 1 */
    z-index: -1;
}



