.bg-empty-fridge {
    background-image: url('../../../assets/images/empty_fridge_bg.webp'); /* Asegúrate de poner la ruta correcta a tu imagen */
    background-size: cover;  /* Esto hace que la imagen cubra completamente el div sin distorsionarse */
    background-position: center;  /* Centra la imagen en el div */
    height: 100vh; /* Esto hace que el div tenga el 100% de la altura de la ventana del navegador */
    width: 100vw; /* Esto hace que el div tenga el 100% del ancho de la ventana del navegador */
    top: 0; /* Opcional: alinea el div en la parte superior de la ventana */
    left: 0; /* Opcional: alinea el div en el lado izquierdo de la ventana */
}


/* Agrega estos estilos a tu archivo virtual-fridge.component.css */
.ingredients-container .row {
    display: flex;
    flex-wrap: wrap;
}
  
.card {
    background-color: rgba(214, 173, 124, 0.75);
    display: flex;
    flex-direction: column;
    min-height: 250px; 
    max-height: 300px; 
    overflow: auto; 
} 
  
.card-body {
    flex: 1; /* Esto permite que el cuerpo de la tarjeta ocupe todo el espacio vertical disponible */
}
