<div class="bg-empty-fridge w-100 d-flex justify-content-center">
    <div class="container w-50 p-5">
        <!-- Barra de búsqueda -->
        <div class="search-bar mb-4">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ingredients...">
        </div>
        <div class="justify-content-end d-flex text-center">
            <button class="btn btn-success"(click)="saveSelectedIngredients()">Save Ingredients</button>
        </div>
        <div *ngIf="updated" class="row text-center">
            <div class="col-md-12 justify-content-center d-flex">
                <div class="alert alert-success text-center w-25">Ingredients saved!</div>
            </div>
        </div>
        <!-- Contenedor de ingredientes -->
        <div class="container-fluid ingredients-container mt-4">
            <div class="row px-2" style="height: 80vh; overflow: auto;">
                <div *ngFor="let i of filteredIngredients"
                    class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 p-1 m-1">
                        <img [src]="'../../../assets/images/vfridge/'+i.image" class="card-img-top"
                            [alt]="i.name+' Image'">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center mb-2">{{i.name}}</h5>
                            <button class="btn btn-block mt-auto"
                                [ngClass]="{'btn-success': isSelected(i), 'btn-outline-secondary': !isSelected(i)}"
                                (click)="toggleIngredientSelection(i)">
                                {{ isSelected(i) ? 'Deselect' : 'Select' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>