<div id="loginBody">
    <div class="container-fluid justify-content-center d-flex w-100 ">
        <div class="col-md-4">
            <form (ngSubmit)="OnSubmitLogin()" #loginForm="ngForm">
                <h2 class="text-center" style="margin: 35px;">Iniciar Sesión</h2>
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginName">Usuario</label>
                    <input class="form-control" type="login" id="loginName" name="login" [(ngModel)]="login" required>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="login" required>
                </div>
                <button class="btn btn-primary btn-block mb-4 align-self-center" type="submit" >Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>




