<div class="container w-100 mt-4 ">
    <div class="row d-flex aling-items-center justify-content-center d-flex w-100">
        <div class="col-md-4 text-center">
            <h1 style="font-size:4rem;">403</h1>
        </div>
    </div>
    <div class="row d-flex aling-items-center justify-content-center">
        <div class="col-md-4">
            <h3>Oooops... </h3>
            <p>Lo sentimos, parece que no tiene permisos para acceder a la pagina solicitada</p>
            <p>Puede intentar <a href="/login">iniciado sesión</a> o <a href="/register">registrandose</a>.</p>
        </div>
    </div>
</div>
