.btn-form-login {
    color:#C6AA6B;
    background-color: #333333;
    font-weight: 600;
}

.form-control {
    border: 2px solid #C6AA6B;
    font-weight: 400;
}

.form-label{
    font-weight: 600;
}


