<div class="about-body">
    <div class="about-container">
        <h1>Acerca de Nosotros</h1>
        <p>
            Somos dos estudiantes de la Universidad Europea, apasionados por la tecnología y la innovación. En nuestro día a día,
            nos encontrábamos frecuentemente con el dilema de qué cocinar, perdiendo mucho tiempo decidiendo y buscando recetas
            adecuadas a nuestros ingredientes disponibles. Además, enfrentábamos el reto de no saber cocinar muchas de las recetas
            que encontrábamos.
        </p>
        <p>
            A lo largo de nuestro tiempo en la universidad, hemos tenido la oportunidad de profundizar en tecnologías como Angular, HTML y CSS
            a través de nuestras asignaturas. Esta experiencia nos ha permitido no solo comprender mejor el desarrollo web, sino también
            aplicar estos conocimientos de manera práctica.
        </p>
        <p>
            De esta necesidad y de nuestra formación técnica nació ComIA, una plataforma diseñada para ayudar a personas como nosotros, que quieren cocinar en casa
            sin perder tiempo y aprendiendo en el proceso. Hemos desarrollado este proyecto desde cero, utilizando Angular, HTML y CSS para ofrecer una experiencia
            de usuario intuitiva y funcional. Nuestro objetivo es facilitar la vida de los estudiantes y cualquier persona
            que busque optimizar su tiempo en la cocina, ofreciendo recetas personalizadas basadas en los ingredientes que ya tienes en casa.
        </p>
    </div>
   
</div>