.about-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('../../../assets/images/cocina2.webp') no-repeat center center fixed;
    background-size: cover;
}

.about-container {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.781);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: justify;
    line-height: 2.0;
}